body{
    font-family: monospace;
    margin: 0;
    padding: 0;
}

div{
    width: 100%;
    height: 927px;
    position: absolute;
    z-index: -1;
}

div.background{
    background-image: url("timothy3.jpg");
    opacity: 0.1;
}

img{
    width: 500px;
    height: 500px;
    margin: 50px;
    box-shadow: 5px 0px 15px black;
}

h1{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3em;
}

h3{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2em;
    transition-duration: 1s;
}

a{
    color: black;
    text-decoration: none;
}

h3:hover{
    font-size: 3em;
}